.select {
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}

.select li {
  float: left;
  min-width: 105px;
  height: 40px;
  position: relative;
}

li.selected label {
  background-color: rgb(0, 123, 255);
  border-color: rgb(0, 123, 255);
  color: white;
}

.select label,
.select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.select input[type='radio'] {
  visibility: hidden;
  z-index: 100;
}

.select label {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
  height: 40px;
  text-align: center;
}

li.first label {
  border-right: 0px;
  border-radius: 5px 0 0 5px;
}

li.first input {
  border: 1px solid #ccc !important;
  border-right: 0px !important;
  border-radius: 5px 0 0 5px !important;
}

li.last input {
  border: 1px solid #ccc !important;
  border-left: 0px !important;
  border-radius: 0 5px 5px 0 !important;
}

li input {
  border: 1px solid #ccc !important;
}

li.last label {
  border-left: 0px;
  border-radius: 0 5px 5px 0;
}
